/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, rgb(37, 37, 37), rgb(232, 232, 232), rgb(37, 37, 37));
}


/******************************************
/* LAYOUT
/*******************************************/
.form-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pokeForm{
    margin-top: 1.2rem;
    width: 30rem;
    height: 3rem;
    border-radius: 30px;
    background: white;
    display: flex;
    justify-content: center;
}

input{
    border: none;
    width: 75%;
    font-size: 2rem;
}

input:focus{
    outline: none;
}

button{
    border: none;
    background-color: white;
    font-size: 2rem;
}

#pokeRender {
    width: 90%;
    display: flex;
}
.pokeImg{
    width: 50%;
    height: auto;
}
.imgHolder{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pokeDetails{
    width: 40%;
}

.pokeFlavor{
    display: flex;
    justify-content: center;
    background: white;
    font-size: 1.5rem;
    padding: 2rem 1rem;
}

.filler{
    background: white;
    width: 100%;
    height: 4rem;
}

.renderBox {
    display: flex;
    flex-direction: column;
}

img {
    margin: 1rem;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 70px;
}

.typeSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    height: 2.5rem;
    width: 40%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

span{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    background: white;
    padding: 3px;
}

.pokeType{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.pokeStats{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.pokeName{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

/******************************************
/* TYPE STYLES
/*******************************************/

.bug{
    background-color: #92e065;
    border-color: #518534;
}

.dark{
    background-color: #12024d;
    border-color: #090126;
}

.dragon{
    background-color: #6b53c2;
    border-color: #2a1b61;
}

.electric{
    background-color: #edd55a;
    border-color: #918130;
}

.fairy{
    background-color: #f0a8f0;
    border-color: #b061b0;
}

.fighting{
    background-color: #a34e21;
    border-color: #632c0e;
}

.fire{
    background-color: #ed4f0c;
    border-color: #8c2c03;
}

.flying{
    background-color: #277ec4;
    border-color: #0c4778;
}

.ghost{
    background-color: #421b7d;
    border-color: #2b1054;
}

.grass{
    background-color: #3aba4b;
    border-color: #208c2f;
}

.ground{
    background-color: #cbb061;
    border-color: #8a7436;
}

.ice{
    background-color: #86cff1;
    border-color: #4d86a1;
}

.normal{
    background-color: #c5beae;
    border-color: #615d54;
}

.poison{
    background-color: #86498d;
    border-color: #4d2652;
}

.psychic{
    background-color: #db5582;
    border-color: #7a3049;
}

.rock{
    background-color: #b29f60;
    border-color: #807244;
}

.steel{
    background-color: #b6b6c1;
    border-color: #7c7c82;
}

.water{
    background-color: #5092e9;
    border-color: #325d96;
}
